.signup-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.card {
  width: 100%;
  max-width: 360px;
  background: #fff;
  padding: 3em 24px;
  border-radius: 18px;
  box-shadow: 5px 5px 0 #000;
  text-align: center;
  border: 3px solid #000;
  position: relative;
}
.tooltip{
  position: absolute;
  width: 60%;
  height: 8%;
  background-color: #ff6f00;
  text-align: center;
  font-weight: bold;
  color: #fff;
  top: 0;
  right: 0;
  border-radius: 0 39px 0 100px;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.message {
  color: #444;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 56px;
  border: 1px solid #ccccccbc;
}

button.primary {
  width: 100%;
  padding: 14px;
  background: #1db954;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 6px 0 #021207fb;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

button.secondary {
  background: none;
  border: none;
  color: #777;
  font-size: 14px;
}
label
{
  float: left;
  margin-bottom: .5em;
  font-weight: bold;
}
