:root {
  --yellow: #ffd400;
  --green: #bcff00;
  --cream: #fff8e6;
  --black: #000;
  --red: #ff5252;
  --purple: #6c5ce7;
  --blue: #74b9ff;
  --font-main: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--cream);
  color: var(--black);
}
